*{margin:0px;padding:0px;}

li {
 list-style-type: none;
}

a{text-decoration: none; color:black;}



.footer{
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f2f2f2;
  width: 100%;
}

.footer div{margin-bottom: 30px; line-height: 30px;}

.footer div h3{margin-bottom: 15px}