/* propriétés génériques pour toute la page */
*{
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}

li{
    list-style: none;
    
}

@font-face{
    font-family: "Raleway";
    src: url("ressources/Raleway/static/Raleway-Regular.ttf");
}

@font-face{
    font-family: "Raleway-SemiBold";
    src: url("ressources/Raleway/static/Raleway-SemiBold.ttf");
}

@font-face{
    font-family: "Raleway-Bold";
    src: url("ressources/Raleway/static/Raleway-Bold.ttf");
}

/* conteneur header qui contient le logo et la nav, déf de la taille et de la flexbox */


.en-tete{
    align-items: center;
    
    display: flex;
    justify-content: space-between;
}

/* taille et marge du logo */
.logo{
    width: 100px;
    height: 50px;
    margin: 20px 20px 20px 20px;  
}

/* mise en page de la navigation et du survol de la navigation */

.navigation{
    width: 100%; 
    display: flex;
    justify-content: space-between;
}

.onglet{  
    display: inline-block; 
    width: 50%;
    height: 30px;
    text-align: center;
    padding-top: 27px;
    border-bottom: 3px solid #F2F2F2; 
    
}

.onglet:hover{
    display: inline-block; 
    width: 50%;
    height: 30px;
    text-align: center;
    padding-top: 27px;
    border-bottom: 3px solid #0065FC;
    color: #0065FC;
}

.inscription{
    
    color: #0065FC;
    font-family: "Raleway-Bold";
    text-decoration: none;
    display: block;
    text-align: center;
    height: 100%;
    margin: 30px 20px 20px 20px; 
}


