/* propriétés génériques pour toute la page */
*{
    margin: 0;
    padding: 0;
    font-family: "Raleway";
    outline: none; /*désactive les grosses bordures noires quand on clique sur un champ de recherche ou un bouton*/
}


li{
    list-style: none;
    
}

@font-face{
    font-family: "Raleway";
    src: url("ressources/Raleway/static/Raleway-Regular.ttf");
}

@font-face{
    font-family: "Raleway-SemiBold";
    src: url("ressources/Raleway/static/Raleway-SemiBold.ttf");
}

@font-face{
    font-family: "Raleway-Bold";
    src: url("ressources/Raleway/static/Raleway-Bold.ttf");
}

/* conteneur header qui contient le logo et la nav, déf de la taille et de la flexbox */
.site-header{
    
    display: flex;
    justify-content: space-between;
    height: 100px;
}

/* taille et marge du logo */
.logo{
    width: 120px;
    height: 60px;
    margin: 20px 40px 20px 40px;
}


/* mise en page de la navigation et du survol de la navigation */
.navigation{
    display: flex;
    align-items: center;
      
}

.onglet{  
    display: inline-block; 
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 50px;
    
    
}

.onglet:hover{
    display: inline-block; 
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 47px;
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.inscription{
    display: inline-block; 
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 50px;
    color: #0065FC;
    font-weight: bold;
    font-family: "Raleway-Bold"; 
}

/* conteneur principale de la barre */
.contain-bar{
    display: flex;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
}

/* conteneur du logo et le logo*/
.contain-localisation{
    display: flex;
    background-color: #F2F2F2;
    width: 40px;
    border-radius: 8px 0px 0px 8px;
}

.fa-map-marker-alt{
    width: 40px;
    margin-top: 10px;
    text-align: center;
    
}

/* conteneur barre de recherche et barre de recherche */

.search{
    height: 38px;
    width: 180px;
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    font-size: 14px;
    padding-left: 10px;
    color: black;
    font-family: "Raleway-Bold";
    border-radius: 0px;
}

.search:focus{border: 1px solid #0065FC;}

/* conteneur bouton et bouton */

.submit{
    width: 100px;
    height: 40px;
    border: none;
    background-color: #0065FC;
    font-size: 14px;
    border-radius: 0px 8px 8px 0px;
    color: white;
    font-family: "Raleway-Bold";
}

/*! ------------------- Mise en page titre ------------------*/

.title-filtres{margin:0px 0px 8px 20px;font-family: "Raleway-Bold";}
.text-filtres{margin:0px 0px 5px 20px;font-size: 13px;}

.title-filters{display: inline-block; width: 100%;}




/* Conteneur des filtres */
.filters{
    
    border-top: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    display: inline-flex;
    border-radius: 30px; 
    background-color: white;
    border-left:none;
    margin: 10px;
    height: 40px;

}

/* LOGO */
.contain-logo{
    display: flex;
    background-color: #DEEBFF;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.fa-info, .fa-dog, .fa-heart, .fa-child, .fa-money-bill-wave{
    font-size: 16px;
    color: #0065FC;
    
}

/* BOUTON RECHERCHE */

.button{
    border:none;  
    height: 100%;
    background-color:white;
    border-radius: 30px;
    font-size: 14px;
    font-family: "Raleway-Bold";
    margin: 0px 10px;
}

/* Icone information + phrase */


.contain-info{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border:1px solid #DEEBFF;
}

.fa-info{
    font-size: 10px;
}

.text-info{
    margin-left: 10px;
}

.text-info p{
    font-family: "Raleway";
    font-size: 16px;
}

.information{

    display: flex;
    align-items: center;  
}
