*{margin:0; padding: 0;}

.all{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}


.container{
    width:65%; 
    height: 600px; 
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.side{
    width:30%; 
    height: 600px; 
    background-color: grey;
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
}


.card{margin: 30px;}
.obj{margin: 30px;}


.card:nth-child(1){
    width: 250px;
    height: 250px;
    background-color: blue;
}

.card:nth-child(2){
    width: 250px;
    height: 250px;
    background-color: blue;
}

.card:nth-child(3){
    width: 250px;
    height: 250px;
    background-color: blue;
}

.card:nth-child(4){
    width: 250px;
    height: 250px;
    background-color: blue;
}

.card:nth-child(5){
    width: 250px;
    height: 250px;
    background-color: blue;
}

.card:nth-child(6){
    width: 250px;
    height: 250px;
    background-color: blue;
}

.obj:nth-child(1){
    width: 80%;
    height:20%;
    background-color: black;
}

.obj:nth-child(2){
    width: 80%;
    height:20%;
    background-color: black;
}

.obj:nth-child(3){
    width: 80%;
    height:20%;
    background-color: black;
}