@font-face{
    font-family: "Raleway";
    src: url("ressources/Raleway/static/Raleway-Regular.ttf");
}

@font-face{
    font-family: "Raleway-SemiBold";
    src: url("ressources/Raleway/static/Raleway-SemiBold.ttf");
}

@font-face{
    font-family: "Raleway-Bold";
    src: url("ressources/Raleway/static/Raleway-Bold.ttf");
}

*{outline: none; font-family: "Raleway-Bold";}


.title-filters{display: inline-block; width: 100%;}
/* Conteneur des filtres */
.filters{
    
    border-top: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    display: inline-flex;
    border-radius: 30px; 
    background-color: white;
    border-left:none;
    margin: 10px;
    height: 40px;

}

/* LOGO */
.contain-logo{
    display: flex;
    background-color: #DEEBFF;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.fa-info, .fa-dog, .fa-heart, .fa-child, .fa-money-bill-wave{
    font-size: 16px;
    color: #0065FC;
    
}

/* BOUTON RECHERCHE */

.button{
    border:none;  
    height: 100%;
    background-color:white;
    border-radius: 30px;
    font-size: 14px;
}

/* Icone information + phrase */


.contain-info{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border:1px solid #DEEBFF;
}

.fa-info{
    font-size: 10px;
}

.text-info{
    margin-left: 10px;
}

.text-info p{
    font-family: "Raleway";
    font-size: 16px;
}

.information{

    display: flex;
    align-items: center;  
}