/* propriétés génériques pour toute la page */
*{
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}

li{
    list-style: none;
    
}

@font-face{
    font-family: "Raleway";
    src: url("ressources/Raleway/static/Raleway-Regular.ttf");
}

@font-face{
    font-family: "Raleway-SemiBold";
    src: url("ressources/Raleway/static/Raleway-SemiBold.ttf");
}

@font-face{
    font-family: "Raleway-Bold";
    src: url("ressources/Raleway/static/Raleway-Bold.ttf");
}

/* conteneur header qui contient le logo et la nav, déf de la taille et de la flexbox */
.site-header{
    
    display: flex;
    justify-content: space-between;
    height: 100px;
}

/* taille et marge du logo */
.logo{
    width: 120px;
    height: 60px;
    margin: 20px 40px 20px 40px;
}


/* mise en page de la navigation et du survol de la navigation */
.navigation{
    display: flex;
    align-items: center;
      
}

.onglet{  
    display: inline-block; 
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 50px;
    
    
}

.onglet:hover{
    display: inline-block; 
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 47px;
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

/* .inscription{
    display: inline-block; 
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 50px;
     
} */

.inscription{
    display: inline-block; 
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 50px;
    color: #0065FC;
    font-weight: bold;
    font-family: "Raleway-Bold"; 
}